* {
margin: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;

}


img.back {
    max-width: 100%;
    position: relative;
    padding-bottom: -5em;
    overflow-x: hidden;
    background-color: #221e1f;

}

img.back2 {
    display: none;
}

img.back3 {
    display: none;
}



.tablet {
    display: none;
}

.astro {
    position: fixed;
    top: 30vh;
    left: 50vw;
    right: 50vw;
    height: 280px;
    -webkit-transition: 0.4s;
    transition: 0.4s;

}

.astro2 {
    display: none;
}

.astro3 {
    display: none;
}

a {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 1;
    color:  #99258d;
    background-color: white;
    padding-left: 1em;
     padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: solid 1px  #99258d;
    border-radius: 3px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;



}

a:hover {
    background-color: #99258d;
    color: white;
}





@media only screen and (max-width: 1250px) {

    img.back {
        display: none;
    }


    img.back2 {
        display: block;
        max-width: 100%;
    position: relative;
    padding-bottom: -5em;
    overflow-x: hidden;
        background-color: #221e1f;

    }

    img.back3 {
        display: none;
    }

    .astro {
        display: none;
    }

    .astro2 {
        display: block;
        position: fixed;
    top: 25em;
    left: 80vw;
    right: 50vw;
    height: 200px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    }

    .astro3 {
    display: none;
}




}

@media only screen and (max-width: 450px) {

    img.back2{
        display: none;
    }

    img.back3 {
        display: block;
    max-width: 100%;
    position: relative;
    padding-bottom: -5em;
    overflow-x: hidden;
    background-color: #221e1f;

}

    .astro {
        display: none;
    }

    .astro2 {
        display: none;
    }

    .astro3 {
        display: block;
        position: fixed;
    top: 25em;
    left: 87vw;
    right: 50vw;
    height: 70px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    }
}



